* {
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: beige;

}


.main-container {
    background-color: #ff6361;
    width: 70%;

}

@media(max-width: 768px) {
    .main-container {
        background-color: #ff6361;
        width: 100%;
        height: 100vh;
        background-size: cover;
    }

}

.profile-img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dates-conatiner {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.each-dates-conatiner {
    background-color: white;
    margin: 10px;
    color: black;
    /* border: 1px solid grey; */
    width: 20%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 16px #474747;
}

.icons-sty {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.date-text {
    color: black;
    font-size: 25px;
    padding-top: 10px;
}

.month-text {
    padding-top: -15px;
    color: black;
}

.body-container {
    display: flex;
    justify-content: flex-end;
}

.body {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    /* border-radius: 20px; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    max-height: 100%;
    overflow-y: auto;
}


.body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.body-text {
    color: black;
    text-align: left;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 20px;
    color: #464680;

}

.hidden-btn {
    background-color: transparent;
    border: none;
}