.create-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: radial-gradient(circle, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
}

.create-text {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.create-form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.create-inputs {
    border-radius: 4px;
    padding: 10px;
    width: 90%;
    outline: none;
    margin-bottom: 20px;
    border-width: 0px;
}

.create-label {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.create-submit-btn {
    color: black;
    height: 40px;
    font-size: 15px;
    margin-top: 40px;
    border-width: 0px;
    width: 90%;
    border-radius: 4px;
}

/* .submit-container {
    text-align: right;
    width: 80px;
    height: 50px;
} */